*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(128, 128, 128, 0.377);
}
h1 {
    color: blueviolet;
}
h2 {
    color: #46484c;
}

p {
    color: #8b8b8bcc;
}
button {
    color: #fff;
    background-color: #025157;
}
.header {
    margin: 40px 20px 0 20px;
}
li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logo {
    width: 15%;
}
.navbar {
    width: 70%;
    height: 45px;
    text-align: center;
    font-family: sans-serif;
}
.navbar a {
    color: #025157;
    text-decoration: none;
    padding: 0 25px;
}
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    padding: 0 10px;
   
}
.actions a {
    color: #67b54b;
    text-decoration: none;
}
.actions button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
}