/* GENERALES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color:#FFFBF7;
    font-family: "Open Sans", sans-serif;
}

/* BARRA DE NAVEGACIÓN */
.fixed-header {
    /* position: fixed;  */
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}
.header {
    margin: 40px 20px 0 20px;
    line-height: 45px;
}
li {
    display: inline;
}
.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logo {
    width: 15%;
}
.navbar { 
    width: 70%;
    height: 45px;
    text-align: center;
    font-family: sans-serif;
}
.navbar a {
    color: #025157;
    text-decoration: none;
    padding: 0 25px;
} 
.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px; 
}
.actions a {
    color: #67b54b;
    text-decoration: none;
    padding-right: 10px;
}
.actions button {
    color: #fff;
    background-color: #67b54b;
    padding: 20px 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
.actions button:hover {
    cursor: pointer;
}
/* FIN BARRA DE NAVEGACIÓN */

/* CONTENIDO PRINCIPAL */
h1 {
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    text-align: center;
}

h4 {
    font-family: "Slabo 27px", serif;
    text-align: center;
    color: #46484C;
    padding: 1rem;
    font-size: 20px;
}

.btn-large {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.btn-large button:hover {
    cursor: pointer;
}
.btn-large input{
    border: 1px solid #b6b6b6;
    color: #a5a3a3;
    padding: 16px 22px 16px 20px;
    width: 60%;
    max-width: 250px;
    font-size: 16px;
    text-align: start;
    line-height: 24px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn-large button {
    background-color: #025157;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 6px 25px;
    margin-left: -10px;
    display: flex;
    align-items: center;
}

.icon-tabler {
    margin-left: 10px;
}

p {
    color: #8b8b8bcc;
    margin-top: 15px;
    text-align: center;
    line-height: 24px;
}
p span {
    font-weight: 700;
}

.banner {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.matcha-img {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}
.matcha-img img {
    width: 70%;
}
/* FIN CONTENIDO PRINCIPAL */

/* SECCIÓN PROMO Y VIDEO */
.promo {
    display: flex;
    max-width: 70%;
    margin: 100px auto;
}

.visual {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video img {
    width: 120px;
    margin-top: 10px;
}

.visual img {
    width: 120px;
}

.info {
    padding-left: 25px;
}
.info h3 {
    font-size: 40px;
    line-height: 48px;
    
    color: #025157;
    font-family: "Alegreya", serif;
}
.info p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
}
.info span {
    color: #8b8b8bcc;
    font-weight: 400;
}

.btn-promo {
    display: flex;
    justify-content: flex-start;
}

/* FORMULARIO */
.formulario {
    margin-bottom: 15px;  
}
.formulario h3 {
    text-align: center;
    color: #025157;
    font-size: 25px;
    padding-bottom: 10px;
}
.form, .form-2 {
    display: flex;
    justify-content: center;
}
.form, .form-2 {
    padding: 20px;
    display: flex;
    align-items: center;
}
.form label, .form-2 label {
    color: #025157;
    font-size: 18px;
    padding: 0 10px;
}
.form input, .form-2 input {
    padding: 6px 20px;
    border-radius: 8px;
    border: none;
    border: 1px solid #b6b6b6;
}
.btn-form {
    background-color: #025157;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
}

/* SECCIÓN VERDE CLARO */
.seccionGreen {
    background-color: #a1d683;
    height: 800px;
    padding: 5rem;
    display: flex;
    align-items: center;
}
.infoTxt {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-right: 5rem;
    align-content: flex-end;
    padding-left: 10rem;
}
.infoTxt h1{
    color: #025157;
    font-size: 51px;
    line-height: 61px;
    font-family: "Alegreya", serif;
    font-weight: bold;
    text-align: left;
}
.infoTxt p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: left;
}
.btnInfo {
    color: #fff;
    background-color: #025157;
    margin: 1rem;
    padding: .8rem 1rem;
    border-radius: 6px;
    border: none;
    width: 15rem;
    font-size: 14px;
    font-weight: 600;
}
.infoTxt img {
    width: 25rem;
    height: 10rem;
}

.infoImg {
    width: 20rem;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
} 
.infoImg img{
    height: 20rem;
    width: 20rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.logoEverly {
    position: absolute;
    top: 0px;
    transform: translate(205%,245%);
    background-color: #f9da73;
    width: 31%;
    border-radius: 100%;
    aspect-ratio: 1;
}
.logoEverly img {
    width: 76%;
    height: 34%;
}
.infoImg h3 {
    color: #025157;
    padding: 1rem;
}
.infoImg h2 {
    color: #474343;
    width: 18rem;
    padding-left: 1rem;
}
.infoImg p {
    color: #858a82;
    padding: 1rem 0 0 1rem;
    width: 15rem;
}
.btnLarge {
    width: 18rem;
}

/* SECCIÓN FEATURES */
.features{
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    padding: 5% 10%;
    background-color: #025157;
}
.feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.feature {
    padding: 35px 0 20px 35px;
    display: flex;
    flex-direction: column;
}
.icon-fte {
    width: 45px;
    height: 40px;
}
.feature-card h3 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
    color: #343434
}
.feature-card p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
    text-align: left;
}
.feature-card a {
    padding-top: 20px;
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}
.img-principal{
    height: 230px;
    width: 200px;
    position: relative;
    top: 8px;
    left: 28px;
}

/* HOW DOES MATCHA WOK */
.contenedor-principal {
    background-color: #fffbf7;
    margin: 5rem;
}

.contenedor-superior {
    text-align: center;
}
.contenedor-superior h2 {
    color: #025157;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    font-family: "Alegreya", serif;
    margin-bottom: 8px;
}
.contenedor-superior p {
    max-width: 60%;
    color: #46484c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 16px;
}
.contenedor-superior span {
    color: #67b54b;
}

.contenido-cards {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.contenido {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.icono {
    height: 22px;
    position: relative;
    top: 20px;
    left: 20px;
}
.imagen-persona {
    height: 350px;
    position: relative;
}

.seccion-inf {
    padding: 25px;
}
.seccion-inf h3 {
    color: #025157;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: "Alegreya", serif;
    line-height: 36px;
}
.seccion-inf p {
    color: #46484c;
    font-size: 15px;
    font-weight: 400;
    height: 85px;
    line-height: 1.5;
}
.seccion-inf a {
    padding-top: 20px;
    font-size: 16px;
    line-height: 1.4;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}


/* MEDIA QUERIES */
@media (max-width: 575px) {
    .navbar,
    .actions {
      display: none;
    }
    main {
        margin-top: 130px;
    }
    h1 {
      font-size: 30px;
    }

    .banner img {
        width: 100%;
    }

    .form, .form-2 {
        display: flex;
        flex-direction: column;
    }
    .form, .form-2 input {
        width: 65%;
    } 

    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
      }
      
      .feature-image {
        display: none;
      }
}